$sidebar-minimised-width: 3.2rem;
$sidebar-maximised-width: 7.5rem;

$sidebar-background-color: $secondary-color;
$selection-color: $standout-color;
$logo-container-color: $secondary-color;
$sidebar-text-color: $primary-color;

$header-font-size: 1.3rem;
$header-padding: 1.3rem;
$nav-button-padding: 1rem;
$nav-button-text-margin-left: 1rem;
$nav-button-text-font-weight: 500;
