$card-margin: 0.5rem;
$card-border-radius: 0.3rem;
$card-background-color: $primary-color;
$card-header-text-color: $primary-color;
$card-header-padding: 0.15rem;
$card-border-radius: $border-radius;
$card-main-content-text-color: $secondary-color;
$card-main-content-padding: 0.2rem;
